{% extends "base.html" %}
{% load static %}
{% block homeactive %}active{% endblock homeactive %}
{% block title %}Welcome - BlogFarm{% endblock title %}
{% block body %}
<div class="text-center">
    <h1>
        <u>Welcome to BlogFarm</u> 
        <div class="text-center py-3">
                Home to the most curated blogs
        </div>
    </h1>
</div>
<div id="carouselExampleIndicators" class="carousel slide" style="padding-left: 350px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "blog/images/HTML-Full-Form.jpg" %}" width="800px" height="400px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static "blog/images/PHOTO-Climate-Collage-Diagonal-Design-NOAA-Communications-NO-NOAA-Logo.jpg" %}" width="800px" height="400px" alt="...">
    </div>
    <!-- <div class="carousel-item">
      <img src="..." width="800px" height="400px" alt="...">
    </div> -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock body %}